<div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark p-2 bg-black">
            <a class="nav-link text-light" href="/">Tech Academy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Menu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link dropdown-item text-dark" href="/">Inicio</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link dropdown-item text-dark" routerLink="/autos">Autos</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link dropdown-item text-dark" href="/clientes">Clientes</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes">Crear Cuenta</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>    
</div>

